# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.log

# Ejecutables y binarios
*.exe
*.out
*.o
*.class
*.dll
*.so
*.class
build/
out/
# Carpetas de compilación
bin/
build/
dist/

# Configuración de IDEs
.vscode/
.idea/
*.iml

# Archivos de dependencias
node_modules/
vendor/

# Entornos virtuales (Python)
venv/
.env

